* {
    box-sizing: border-box;
	font-family: "Verdana", sans-serif;
}

body {
    margin: 0;
}

/* Style the header */
.header {
	color: #ffffff;
    background-color: #001372;
    padding: 50px;
    text-align: center;
}

.row {
	background: #ccf;
	display: flex;
	flex-wrap: wrap;
}

/* Responsive layout - 1 to 4 columns based on available width */
.column {
    display: flex;
	width: 25%;
}
@media (max-width: 1000px) {
    .column {
		width: 33.33%;
    }
}
@media (max-width: 750px) {
    .column {
		width: 50%;
    }
}
@media (max-width: 600px) {
    .column {
		width: 100%;
    }
}

.box-outer {
	padding: 10px;
	display: flex;
    width: 100%;
    align-content: stretch;
}

.box {
    background-color: #eee;
    border:2px solid #36c;
	padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
	width:100%;
}

a.box:hover, a.box:active {
    background-color: #fff;
}


/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}




/* Text styles */
.main-label {
    background-color: #2a4b8d;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	padding: 2px 10px;
}
.main-desc {
    background-color: #72777d;
	color: #fff;
	font-size: 120%;
	padding: 2px 20px;
}
.box-label {
	font-size: 110%;
	font-weight: bold;
	color: #36c;
}
.box-desc {
	font-size: 90%;
	color: #555;
	line-height: 1.1em;
	margin-top: 0.2em;
	/*min-height: 2.2em;*/
}
.small {
	font-size: 80%;
}
code {
	font-family: monospace;
}

/* Language selection, Edit on wikidata */
.main-extra {
	float:right;
	font-size:85%;
	height:30px;
}

/* Logo images */
.logo {
	width: 50px;
	float:left;
}